#center 
{
	width: 300px;
	height: 400px;
	background-color: #75FFFF;
	margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border: 5px solid #33CCCC;
    border-radius: 10px;
}

body 
{
    background-image: url("assets/cloudy.png");
    background-repeat: repeat-x;
}

.centerLink
{
	text-align: center;
    font-family: 'Open Sans Condensed';
    font-size: 300%
}