@font-face {
    		font-family: courierNew;
    		src: url(../fonts/Courier_Prime.ttf);
		}
html{
	background-color: #000000;
}
div,h1{
	font-family: courierNew;
	color: #26A626;
}

#title{
	text-align: center;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	font-size: 3em;
}

#title:hover{
	color: #124D12;
	cursor: default;
}

#mainBody{
	position: relative;
	top: 150%;
	-webkit-animation-duration: 1s;
	-animation-duration: 1s;
}

.option{
	position: relative;
	font-size: 3.7em;
	text-align: center;
	padding-top: .5em;
	
}

a{
	text-decoration: none;
	color: #26A626;
	cursor: pointer;
	-webkit-transition: .3s;
	-moz-transition: .3s;
		
}

.linkOption:hover{
	position: relative;
	top: -5px;
}

#twitter{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:8em;
	height:8em;
}

.container{
	float: center;
	font-size: 300%;
	text-align: center;
}

.gameTitle{


}

.gameDescription{
	
}